body {
    font-family: "Open Sans";
    margin: 0px;
    margin-top: auto;
    overflow:visible;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0.1px 4px 5px #38A3A5;
    display:flex;
    justify-content: center;
    color:#22577A;
}

.navbar-content {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    column-gap: 300px;
}

a { color: #38A3A5; } 

.navbar a {
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
    white-space: nowrap;
    padding:10px;
}

.navbar a:hover{
    transform: scale(1.125);
    color: #22577A;
}

.name {
    white-space: nowrap;
}

.navigation {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
}

.content{
    margin-top: 150px;
    text-align: center;
}

hr{
    width: 75%;
    height: 1.5px;
    border: 0;
    background-image: linear-gradient(to right, white , #57CC99, white);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}

.job-section{
    display: flex;
    margin: 25px;
    padding: 15px;
    column-gap: 20px;
    flex-direction: row;
}

.job-section-item{
    flex: 1;
}

.project-section{
    display: flex;
    margin: 75px 0px 75px 0px;
    column-gap: 20px;
    flex-direction: row;
    max-height: 500px;
}

.center{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.inline{
    display: inline;
}

#cursor{
    font-size: xx-large;
}

#typing{
    padding: 50px;
}

.contact-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    margin: 50px;
}

.contact-section img{
    width:50px;
}